---
weight: 0
---
<!DOCTYPE html>
<html lang="en">

<head>
  {# set "base" to ".." in order to make relative URL's work (because foo/bar.md ends up in foo/bar/index.html) #}
  {% if page.url.match(r/\//g).length !== page.filePathStem.match(r/\//g).length %}
    {# if the number of slashes (/) in filePathStem and url are unequal, then use ".." as base #}
    <base href=".." >
  {% endif %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{'/global.css' | url}}"">
</head>

<body>

  <div class=" bg-dark text-white">
  <header class="container d-flex align-items-center mb-4">
    <a href={{ '/' | url }}><img src="{{ '/logo.png' | url }}" alt="SpinSpire logo"></a>
    <h1 class="text-truncate">{{ title }}</h1>
  </header>
  </div>

  <main class="container">
    {{ content | safe }}
    <hr>
    {% if references %}
    <h6>References:</h6>
    <ol>
      {% for text, url in references %}
      <li><a href="{{ url }}" target="_blank">{{ text }}</a></li>
      {% endfor %}
    </ol>
    {% endif %}
  </main>

  <div class="bg-dark text-white">
    <footer class="container">
      <div class="text-truncate">
        <span class="copyright">Copyright &copy; <a href="https://spinspire.com">SpinSpire</a></span>
        {% if author %}
        {# HACK: differentiate between string vs array using existence of a method that only string would have #}
        ; <span class="author">Author: {{ author if author.toLowerCase  else author | join(", ") }}</span>
        {% endif %}
      </div>
    </footer>
    </body>

</html>