main {
  min-height: calc(100vh - 8rem);
}

/* remove extra spacing due to paragraphs inside lists */
li p {
  margin-bottom: 0;
}

/* 
 * line numbers in code blocks
 * see: https://github.com/11ty/eleventy-plugin-syntaxhighlight/issues/10
 */
pre {
  counter-reset: lineNumber;
}

code .highlight-line:before {
  user-select: none;
  -webkit-user-select: none;
  border-right: 1px solid #404040;
  color: #858585;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 1.2em;
  padding-right: 1.2em;
  text-align: right;
  width: 2.4em;
}

/* 
 * section numbers for "h2" tags
body {
  counter-reset: sectionNumber;
}
h2:before {
  counter-increment: sectionNumber;
  content: counter(sectionNumber) ". ";
}
 */

.ytvid-wrapper {
  background-color: black;
  position: sticky;
  top: 0;
}

iframe.ytvid {
  box-shadow: 0 0 1rem gray;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}