version: "3.5"

services:
  node:
    image: node:lts-alpine
    restart: unless-stopped
    user: "${UID}:${GID}"
    volumes:
      - ${PWD}:/var/www
    working_dir: /var/www
    # use "npm run dev" to automatically rebuild on code changes
    # use "npm run build" for single build for prod
    command: sh -c "npm install && npm run build"
    environment:
      - HOME=/var/www
      - SMTPHOST=${SMTPHOST}

  web:
    image: nginx:mainline-alpine
    restart: unless-stopped
    #can't run nginx as regular user
    #user: "${UID}:${GID}"
    volumes:
      - ${PWD}/dist:/usr/share/nginx/html
    environment:
      - HOME=/var/www
      - SMTPHOST=${SMTPHOST}